* {
    padding: 0;
    margin: 0;
    font-family:Labrada, serif;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 184, 184);
    padding: 5px 0;
    box-shadow: rgb(95, 74, 74) 0px 10px 10px;
}
.brand {
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(3, 2, 2);
    margin: 0 120px;
}

.navbar-find {
    display: block;
    margin-top: 5px auto;
    padding: 10px 100px;
    background-color:aliceblue;
    border: 0px solid;
    border-radius: 5px;
    box-shadow: rgb(117, 228, 228) 2px 2px 1px;
}
::placeholder {
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}
.navbar-list{
    align-self: center;
    margin: 0 120px;
    font-size: 20px;
}
.navbar-list a {
    margin: 0 20px;
    color: rgb(3, 2, 2);
}
:hover#about {
    color: aliceblue;
}
:hover#home {
    color: aliceblue;
}
.hero-section {
    margin-top: 5px;
    background-image: url("hero.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 400px;
    width: fit-content;
}
.hero {
    width: 30%;
    margin:30px 30px;
}
.hero-title {
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 5px;
}
button.watch {
    margin: 10px;
    background-color: transparent;
    cursor: pointer;
    padding: 8px 50px;
    font-size: 15px;
    border-radius: 5px;
    border: white 1px solid;
}
:hover.watch {
    background-color: rgb(117, 228, 228);
}
button.trailer {
    margin: 10px;
    background-color: transparent;
    cursor: pointer;
    padding: 8px 50px;
    font-size: 15px;
    border-radius: 5px;
    border: white 1px solid;
}
:hover.trailer {
    background-color: rgb(117, 228, 228);
}
