* {
    padding: 0;
    margin: 0;
    font-family:Labrada, serif;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 184, 184);
    padding: 5px 0;
}
.brand {
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(3, 2, 2);
    margin: 0 120px;
}

.navbar-find {
    display: block;
    margin-top: 5px auto;
    padding: 10px 100px;
    background-color:aliceblue;
    border: 0px solid;
    border-radius: 5px;
    box-shadow: rgb(117, 228, 228) 2px 2px 1px;
}
::placeholder {
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}
.navbar-list{
    align-self: center;
    margin: 0 120px;
    font-size: 20px;
}
.navbar-list a {
    margin: 0 20px;
    color: rgb(3, 2, 2);
}
:hover#about {
    color: aliceblue;
}
:hover#home {
    color: aliceblue;
}