* {
    padding: 0;
    margin: 0;
    font-family:Labrada, serif;
    text-decoration: none;
}

/*
navbar
 */
 nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 184, 184);
    padding: 5px 0;
    box-shadow: rgb(95, 74, 74) 0px 10px 10px;
    position: fixed;
}
.brand {
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(3, 2, 2);
    margin: 0 120px;
}

.navbar-find {
    font-size: 15px;
    display: block;
    margin-top: 5px auto;
    padding: 10px 100px;
    background-color:aliceblue;
    border: 0px solid;
    border-radius: 5px;
    box-shadow: rgb(117, 228, 228) 2px 2px 1px;
}
::placeholder {
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}
.find {
    display: flex;
}
.find-button {
    box-shadow: rgb(117, 228, 228) 2px 2px 1px;
    cursor: pointer;
    padding: 10px 35px;
    margin-left: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: white 1px solid;
}
:hover.find-button {
    background-color: rgb(25, 121, 121);
}
.navbar-list{
    align-self: center;
    margin: 0 120px;
    font-size: 20px;
}
.navbar-list a {
    margin: 0 20px;
    color: rgb(3, 2, 2);
}
:hover#movies {
    color: aliceblue;
}
:hover#home {
    color: aliceblue;
}
.hero-section {
    padding-top: 50px;
    background-image: url("hero.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: fit-content;
    box-shadow: black 10px 10px 100px
}
.hero {
    width: 30%;
    margin:0 30px;
    padding-top: 30px;
}
.hero-title {
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 5px;
}
.hero-genre{
    font-size: 20px;
    margin-bottom: 5px;
}
button.watch {
    margin: 10px;
    background-color: transparent;
    cursor: pointer;
    padding: 8px 50px;
    font-size: 15px;
    border-radius: 5px;
    border: white 1px solid;
}
:hover.watch {
    background-color: rgb(117, 228, 228);
}
button.trailer {
    margin: 10px;
    background-color: transparent;
    cursor: pointer;
    padding: 8px 50px;
    font-size: 15px;
    border-radius: 5px;
    border: white 1px solid;
}
:hover.trailer {
    background-color: rgb(117, 228, 228);
}
.card-container {
    /* background-color: azure; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-title {
    display: block;
    text-align: center;
    letter-spacing: 30px;
    font-size: 50px;
    color: rgb(53, 52, 52);
    text-shadow: 2px 2px 8px rgb(14, 233, 233);
}
.card {
    height: fit-content;
    width: 20%;
    padding: 0px 10px;
    margin: 20px 10px;
    border: rgb(175, 172, 172) 2px solid;
    border-radius: 5px;
    box-shadow: black 10px 10px 100px
}
:hover.card{
    box-shadow: aqua 1px 1px 5px;
}
.card img {
    width:90%;
    height:50vh;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 10px;
}
.card-content {
    text-align: center;
}
.plot {
    font-weight: 100;
    text-align: justify;
    margin-top: 5px;
}
.button {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 20px;
}
button.watch-card {
    background-color: rgb(117, 228, 228);
    cursor: pointer;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 5px;
    border: white 1px solid;
    margin: 0 10px;
}
:hover.watch-card {
    background-color: rgb(25, 121, 121);
}
button.trailer-card {
    background-color: rgb(216, 194, 194);
    cursor: pointer;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 5px;
    border: white 1px solid;
    margin: 0 10px;
}
:hover.trailer-card {
    background-color: rgb(163, 28, 28);
}


/* movies */
.details {
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration:underline;
}
:hover.details {
    font-size: 20px;
    color: rgb(68, 186, 255);
}


/* modal */
